<!DOCTYPE html>
<html lang="en">
<head>
<title>Forgot Password</title>
<meta charset="utf-8" />
<!-- defer means that the JS code is executed after the DOM is fully built -->
<script defer src="index.js"></script>
<link rel="stylesheet" href="/cdn/css/layout.css">
</head>
<body>
   <div id="container">
      <div id="game">
          <header>
              <h1 class="title">CompetitiveWordle</h1>
          </header>
      </div>
  </div>
   <form action="api/profile" method="post">
      <div>
      <label for="studentName">Enter User Name:</label>
      <input type="text"  name="user"><br><br>
      </div>
      <div class="button">
      <button type="submit">Submit</button>
      </div>
   </form>    
   <form action = api/profile/return method = "post">
      <div class="ForgotPassbutton">
         <button type="submit">Cancel</button>
     </div>
   </form>
</body>
</html>