<!DOCTYPE html>
<html lang="en">
<head>
<title>Reset Password</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- defer means that the JS code is executed after the DOM is fully built -->
<!--<script defer src="index.js"></script>-->
<script defer src="/cdn/scripts/passwordValidate.js"></script>
<link rel="stylesheet" href="/cdn/css/layout.css">
</head>
<body>
   <div id="container">
      <div id="game">
          <header>
              <h1 class="title">CompetitiveWordle</h1>
          </header>
      </div>
  </div> <br>
   <h1 align = "center">Reset your password</h1>
<div class="loginBody">
   <div class="loginContainer">
      <form action="api/profile/reset" method="post">
         <div>
            <label for="studentName">Enter User Name:</label>
            <input type="text"  name="user" class="form_input">
            <label for="Username">Enter new password:</label>
            <input type = "password" name = "password1" minlength="8" class="form_input" />
            <label for="Username">Confirm password:</label>
            <input type = "password" name = "password2" minlength="8" class="form_input"/>
         </div>
         <div class="button">
            <button type="submit" class="button" id="createAccount">Submit</button>
         </div>
         <div class="modalcontainer" id="modal">
            <div class="modalContent" id="modalbtn">
               <!--<button type="button" class="button" id="modalbtn">Back to Login</span>-->
              <!-- <p>Account has been successfully created, click the buton to login using your credentials</p>-->
           </div>
         </div>
         
      </form>
 
<br>

      <form action = api/profile/return method = "post">
         <div class="button">
            <button type="submit" class="button" id="createAccount">Cancel</button>
         </div>
      </form>
   </div>
</div>

</body>
</html>