<!DOCTYPE html>
<html lang="en">
<head>
<title>Reset Password</title>
<meta charset="utf-8" />
<!-- defer means that the JS code is executed after the DOM is fully built -->
<script defer src="index.js"></script>
<link rel="stylesheet" href="/cdn/css/layout.css">
</head>
<body>
   <div id="container">
      <div id="game">
          <header>
              <h1 class="title">CompetitiveWordle</h1>
          </header>
      </div>
  </div> <br>
   <h1 align = "center">Reset your password</h1>
</form>
<div class="loginBody">
   <div class="loginContainer">
      <form action="api/profile/reset" method="post">
         <div>
            <label for="studentName">Enter User Name:</label>
            <input type="text"  name="user" class="form_input">
            <label for="Username">Enter new password:</label>
            <input type = "password" name = "password1" minlength="5" class="form_input" />
            <label for="Username">Confirm password:</label>
            <input type = "password" name = "password2" minlength="5" class="form_input"/>
         </div>
         <div class="button">
         <button type="submit" class="button">Submit</button>
         </div>
      </form>
 
<br>

<form action = api/profile/return method = "post">
   <div class="button">
      <button type="submit" class="button">Cancel</button>
  </div>
</div>
</div>
</form>
</body>
</html>