<!DOCTYPE html>
<html lang="en">

<head>
    <title>Play Wordle</title>
    <meta charset="utf-8">
</head>

<body>
    <h1>Update Username</h1>

    <form action="api/profile/update" method="post">
        <div>
        <label for="studentName">Enter current username:</label>
        <input type="text"  name="olduser">
        <label for="studentName">Enter new username:</label>
        <input type="text"  name="newuser">
        </div>
        <div class="button">
        <button type="submit">Submit name</button>
        </div>
        </form>
</body>

</html> 

