<!DOCTYPE html>
<html lang="en">
<head>
<title>Login Page</title>
<meta charset="utf-8" />
<!-- defer means that the JS code is executed after the DOM is fully built -->
<script defer src="index.js"></script>
</head>
<body>
    <label for="username"><b>Username</b></label>
    <input type="text" id = "Username" name="username">

    <label for="psw"><b>Password</b></label>
    <input type="password"  id= "Password" name="psw">

    <button type="button" id ="login">Login</button>
</body>
<p><a href="CreateAccount.html">Create Account</a></p>
<p><a href="ForgotPassword.html">Forgot Password?</a></p>
</div>
</div>
<p id="req1"></p>
<p id="req2"></p>
</html>