
*{
    margin: 0;
    padding: 0;
}

p {
    margin: 35px 90px 5px 90px;
}
.select{
    padding:8px 12px;
    color:black;
    background-color: grey;
    border:1px solid black;
    cursor:pointer;
    border-radius:5px;
}
.select:focus,
.select:hover{
    outline: none;
    border:1px solid darkgrey;
}
.select option{
    background: lightgrey;
}
.deleteForm{
    margin: 35px 90px 5px 90px;
    padding: 20px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background: #666666;
    border:1px solid black;
}
input[type = text]{
    padding:5px;
    width:80%;
    font-size:18px;
    border-radius:0 10px 0 0;
 }
 input[type = password]{
    padding:5px;
    width:80%;
    font-size:18px;
    border-radius:0 10px 0 0;
 }
 input[type = submit]{
    padding:5px;
    width:10;
    font-size:18px;
    border-radius:0 10px 0 0;
    border:none;
 }
 button{
    padding:5px;
    width:20;
    font-size:18px;
    border-radius:0 10px 0 0;
    background-color: black;
    color: white;
    border:none;
 }