
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    background-color: #000;
    height:100vh;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}


.game-container {
    width: 100%;
    /*flex-grow: 1;*/
    align-items: center;
}

.gameBoard-Container {
    width: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}

.game-row {
    display: flex;
    flex-direction: row;
    }

.guessBox {
    border: 1px solid #353535;
    width: 4em;
    height: 4em;
    margin-right: 0.4em;
    margin-bottom: 0.4em;
    border-radius: 4px;
    color: #fff;
    display: flex;
    justify-content: center;
    font-weight: bold;
    align-items: center;
    user-select: none;
    transition: transform 250ms linear;
}

/*Handle game board states*/
/*Active box (Has letter but not submitted)*/
.guessBox[data-state ="active"] {
border-color: hsl(200, 1%, 34%);
}

.guessBox[data-state ="wrong"] {
   background-color: grey !important;
    color : white !important;
    }

.guessBox[data-state ="wrong-location"] {
    background-color: orange !important;
    color : white !important;
        }

.guessBox[data-state ="correct-location"] {
    background-color: green !important;
    color : white !important;
    }

.guessBox.shake {
    animation: shake 250ms ease-in-out;
    }

.guessBox.flip {
    transform: rotateX(90deg);
}

.keyboard {
    width: 100%;
    padding-bottom: 1em;
}

.keyboard-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.keyboard button {
    background-color: #000;
    color: #fff;
    outline: none;
    border: 1px solid #353535;
    padding: 1em;
    cursor: pointer;
    margin-bottom: 0.4em;
    border-radius: 4px;
}

/*Reflections on keyboard according to placements*/
.keyboard button.wrong {
    background-color: grey !important;
    color : white !important;
}

.keyboard button.wrong-location {
    background-color: orange !important;
    color : white !important;
}

.keyboard button.correct {
    background-color: green !important;
    color : white !important;
}

.alert-container {
 position: fixed;
 top: 2.5vh;
 left:24.45vw;
 transform: translateX(-50%);
 z-index: 1;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.alert {
 pointer-events: none;
 background-color: hsl(204, 7%, 85%);
 padding: 0.75em;
 border-radius: 0.25em;
 opacity: 1;
 transition: opacity 500ms ease-in-out;
 margin-bottom: 0.5em
}

.alert:last-child {
    margin-bottom: 0;
}

.alert.hide {
    opacity: 0;
}
#container {
    display: flex;
    background-color: #191919;
    color: aliceblue;
    align-items: center;
    flex-direction: column;
}