.player1-side-left, .player2-side-right {
    height:50vh;
    width:100%;
    flex-direction: column;
    padding: 1em;
}

.player1-side-left{
    background:black;
    display: flex;
    align-items: center;
}

.player2-side-right {
    background:lightblue;
    display: flex;
    /*align-items: center;*/
}

@media screen and (min-width:768px) {
    .player1-side-left, .player2-side-right {
        height:100vh;
    }
}


.game-container {
    width: 100%;
    flex-grow: 1;
    align-items: center;
}

.gameBoard-Container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-row {
    display: flex;
    flex-direction: row;
    }

.guessBox {
    border: 1px solid #353535;
    width: 4em;
    height: 4em;
    margin-right: 0.4em;
    margin-bottom: 0.4em;
    border-radius: 4px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.keyboard {
    display: grid;
    width: 100%;
    padding-bottom: 1em;
    justify-content: center;
}

.keyboard-container {
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.keyboard button {
    background-color: #000;
    color: #fff;
    outline: none;
    border: 1px solid #353535;
    padding: 1em;
    cursor: pointer;
    margin-bottom: 0.4em;
    border-radius: 4px;
}