<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <script type ="module" defer src = "/cdn/scripts/gamePlay/dashBoard.js"></script>
    <title>MuliPlayer dashboard</title>
    <!--<link rel="stylesheet" href="/cdn/css/gameBoard.css">-->
    <link rel="stylesheet" href="/cdn/css/layout.css">
</head>
<body>
    <div id="container">
        <div id="game">
            <header>
                <h1 class="title">CompetitiveWordle</h1>
            </header>
        </div>
    </div><br>
    <h3 align="center">Challenge your friends by creating a room and giving them your room key</h3> <br>

    <div class="loginBody">
        <div class="loginContainer">
            <form action="" method="post">
            <input type="text" id = "room-code" name = "room-code" placeholder="Enter room code" class="form_input" require>
            <button type="button" id = "join-room" class="button">Join Room</button>
            </form>
        </div>
    </div>
</body>
</html>