<!DOCTYPE html>
<html lang="en">
<head>
<title>Login Page</title>
<meta charset="utf-8" />
<script defer src="index.js"></script>
<title>Hello Wordle</title>
<meta charset="utf-8" />
<link rel="stylesheet" href="/cdn/css/layout.css">
</head>
<body>
    <div id="container">
        <div id="game">
            <header>
                <h1 class="title">CompetitiveWordle</h1>
            </header>
        </div>
    </div>
    <div><h1>Instruction Page:</h1></div>
    <h2 align = 'center'>How to play wordle</h2>
    <div class="loginBody">
        <ul>
            <li>You have six chances to guess the word of the day</li>
            <li>Firstly, guess a five letter random word</li>
            <li>Letters in the guessed word are highlighted in green if they exist in the word of the day and are in correct position</li>
            <li>Letters in the guessed word are highlighted in yellow if they exist in the word of the day and are in an incorrect position</li>
            <li>Letters in the guessed word are highlighted in grey if they do not exist in the word of the day</li>
            <li>You win if you guess the correct word in six guesses</li>
        </ul>
    </div>
    <a  href = "/homepage"  class="button" align="center">Home</a>
</body>
</html>