<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Multiplayer</title>
    <script defer src = "/cdn/scripts/gamePlay/gamePlay.js"></script>
    <link rel="stylesheet" href="/cdn/css/gameBoard.css">
</head>

<body>
    <!--User browser should support JavaScript-->
    <noscript>JavaScript Error</noscript>
    <div id="root">
        <div class = "gameBoard-container">
            <div class = "player1-board">
                <div class = "game-row" id="gameRow1">
                    <div class = "guessBox" id ="row1Box1"></div>
                    <div class = "guessBox" id ="row2Box2"></div>
                    <div class = "guessBox" id ="row3Box3"></div>
                    <div class = "guessBox" id ="row4Box4"></div>
                    <div class = "guessBox" id ="row5Box5"></div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
