<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Multiplayer</title>
    <script defer src = "/cdn/scripts/gamePlay/MultiplayerGamePlay.js"></script>

    <!-- CSS only -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>-->

    <link rel="stylesheet" href="/cdn/css/MultiplayerGameBoard.css">
</head>

<body>
    <!--User browser should support JavaScript-->
    <noscript>JavaScript Error</noscript>

            <div class="row no-gutters">
                <div class="col-md-6 no-gutters">
                    <div class="player1-side-left">
                         <div class = "gameBoard-Container">
                
                                <div class = "game-row" id="gameRow1">
                                    <div class = "guessBox" data-key ="row1Box1"></div>
                                    <div class = "guessBox" data-key ="row1Box2"></div>
                                    <div class = "guessBox" data-key ="row1Box3"></div>
                                    <div class = "guessBox" data-key ="row1Box4"></div>
                                    <div class = "guessBox" data-key ="row1Box5"></div>
                                </div>
                                <div class = "game-row" id="gameRow2">
                                    <div class = "guessBox" data-key ="row2Box1"></div>
                                    <div class = "guessBox" data-key ="row2Box2"></div>
                                    <div class = "guessBox" data-key ="row2Box3"></div>
                                    <div class = "guessBox" data-key ="row2Box4"></div>
                                    <div class = "guessBox" data-key ="row2Box5"></div>
                                </div>
                                <div class = "game-row" id="gameRow3">
                                    <div class = "guessBox"data-key ="row3Box1"></div>
                                    <div class = "guessBox" data-key ="row3Box2"></div>
                                    <div class = "guessBox" data-key ="row3Box3"></div>
                                    <div class = "guessBox" data-key ="row3Box4"></div>
                                    <div class = "guessBox" data-key ="row3Box5"></div>
                                </div>
                                <div class = "game-row" id="gameRow4">
                                    <div class = "guessBox" data-key ="row4Box1"></div>
                                    <div class = "guessBox" data-key ="row4Box2"></div>
                                    <div class = "guessBox" data-key ="row4Box3"></div>
                                    <div class = "guessBox" data-key ="row4Box4"></div>
                                    <div class = "guessBox" data-key ="row4Box5"></div>
                                </div>
                                <div class = "game-row" id="gameRow5">
                                    <div class = "guessBox" data-key ="row5Box1"></div>
                                    <div class = "guessBox" data-key ="row5Box2"></div>
                                    <div class = "guessBox" data-key ="row5Box3"></div>
                                    <div class = "guessBox" data-key ="row5Box4"></div>
                                    <div class = "guessBox" data-key ="row5Box5"></div>
                                </div>
                                <div class = "game-row" id="gameRow6">
                                    <div class = "guessBox" data-key ="row6Box1"></div>
                                    <div class = "guessBox" data-key ="row6Box2"></div>
                                    <div class = "guessBox" data-key ="row6Box3"></div>
                                    <div class = "guessBox" data-key ="row6Box4"></div>
                                    <div class = "guessBox" data-key ="row6Box5"></div>
                                </div>
                            </div>
                            <div class ="keyboard" id = "keyboard">
                                <div class = "keyboard-container">
                                    <div>
                                        <button data-key ="Q" id = "Q" class = "key">Q</button>
                                        <button data-key ="W" id = "W" class = "key">W</button>
                                        <button data-key ="E" id = "E" class = "key">E</button>
                                        <button data-key ="R" id = "R" class = "key">R</button>
                                        <button data-key ="T" id = "T" class = "key">T</button>
                                        <button data-key ="Y" id = "Y" class = "key">Y</button>
                                        <button data-key ="U" id = "U" class = "key">U</button>
                                        <button data-key ="I" id = "I" class = "key">I</button>
                                        <button data-key ="O" id = "O" class = "key">O</button>
                                        <button data-key ="P" id = "P" class = "key">P</button>
                                    </div>
                                    <div>
                                        <button data-key ="A" id = "A" class = "key">A</button>
                                        <button data-key ="S" id = "S" class = "key">S</button>
                                        <button data-key ="D" id = "D" class = "key">D</button>
                                        <button data-key ="F" id = "F" class = "key">F</button>
                                        <button data-key ="G" id = "G" class = "key">G</button>
                                        <button data-key ="H" id = "H" class = "key">H</button>
                                        <button data-key ="J" id = "J" class = "key">J</button>
                                        <button data-key ="K" id = "K" class = "key">K</button>
                                        <button data-key ="L" id = "L" class = "key">L</button>
                                        <button data-key ="P" id = "P" class = "key">P</button>
                                    </div>
                                    <div>
                                        <button data-entr ="Enter" id = "Enter" class = "key">Enter</button>
                                        <button data-key ="Z" id = "Z" class = "key">Z</button>
                                        <button data-key ="X" id = "X" class = "key">X</button>
                                        <button data-key ="C" id = "C" class = "key">C</button>
                                        <button data-key ="V" id = "V" class = "key">V</button>
                                        <button data-key ="B" id = "B" class = "key">B</button>
                                        <button data-key ="N" id = "N" class = "key">N</button>
                                        <button data-key ="M" id = "M" class = "key">M</button>
                                        <button data-del ="DEL" id = "DEL" class = "key">DEL</button>
                                    </div>
                                </div>
    
                        </div>
                    </div>
                </div>
        
                <div class="col-md-6 no-gutters">
                    <div class="player2-side-right">
                        <div class = "gameBoard-Container"> 
                                <div class = "game-rowP2" id="gameRow1">
                                    <div class = "guessBox" id ="row1Box1"></div>
                                    <div class = "guessBox" id ="row1Box2"></div>
                                    <div class = "guessBox" id ="row1Box3"></div>
                                    <div class = "guessBox" id ="row1Box4"></div>
                                    <div class = "guessBox" id ="row1Box5"></div>
                                </div>
                                <div class = "game-rowP2" id="gameRow2">
                                    <div class = "guessBox" id ="row2Box1"></div>
                                    <div class = "guessBox" id ="row2Box2"></div>
                                    <div class = "guessBox" id ="row2Box3"></div>
                                    <div class = "guessBox" id ="row2Box4"></div>
                                    <div class = "guessBox" id ="row2Box5"></div>
                                </div>
                                <div class = "game-rowP2" id="gameRow3">
                                    <div class = "guessBox" id ="row3Box1"></div>
                                    <div class = "guessBox" id ="row3Box2"></div>
                                    <div class = "guessBox" id ="row3Box3"></div>
                                    <div class = "guessBox" id ="row3Box4"></div>
                                    <div class = "guessBox" id ="row3Box5"></div>
                                </div>
                                <div class = "game-rowP2" id="gameRow4">
                                    <div class = "guessBox" id ="row4Box1"></div>
                                    <div class = "guessBox" id ="row4Box2"></div>
                                    <div class = "guessBox" id ="row4Box3"></div>
                                    <div class = "guessBox" id ="row4Box4"></div>
                                    <div class = "guessBox" id ="row4Box5"></div>
                                </div>
                                <div class = "game-rowP2" id="gameRow5">
                                    <div class = "guessBox" id ="row5Box1"></div>
                                    <div class = "guessBox" id ="row5Box2"></div>
                                    <div class = "guessBox" id ="row5Box3"></div>
                                    <div class = "guessBox" id ="row5Box4"></div>
                                    <div class = "guessBox" id ="row5Box5"></div>
                                </div>
                                <div class = "game-rowP2" id="gameRow6">
                                    <div class = "guessBox" id ="row6Box1"></div>
                                    <div class = "guessBox" id ="row6Box2"></div>
                                    <div class = "guessBox" id ="row6Box3"></div>
                                    <div class = "guessBox" id ="row6Box4"></div>
                                    <div class = "guessBox" id ="row6Box5"></div>
                                </div>
                            
                        </div>
                    </div>
                </div>
            </div>

    

</body>

</html>
