<!DOCTYPE html>

<html lang="en">

<head>
    <title>Wordle</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/cdn/css/layout.css">
</head>

<body>
    <div id="container">
        <div id="game">
            <header>
                <h1 class="title">CompetitiveWordle</h1>
            </header>
        </div>
    </div>
    <br>
    <h1 align="center">Wrong Guess! Better luck next time!</h1>
    <div class="loginBody">
        <a href = "./startgame" id ="try-again" class="button" align="center">Try Again</a>
    </div>
</body>

</html>