<!DOCTYPE html>

<html lang="en">

<head>
    <title>Wordle</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/cdn/css/layout.css">
</head>

<body>
    <div id="container">
        <div id="game">
            <header>
                <h1 class="title">CompetitiveWordle</h1>
            </header>
        </div>
    </div>
    <br>
    <h1 align="center">You won!!</h1>
    <div class="loginBody">
        <a href = "/homepage" id ="Home" class="button" align="center">Home</a>
    </div>
</body>

</html>